<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home ~ headcount</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"
    ></script>
    <!--    <link rel="stylesheet"-->
    <!--          href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"-->
    <!--    >-->
    <!--    <link-->
    <!--            rel="stylesheet"-->
    <!--            href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.colors.min.css"-->
    <!--    />-->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css"
    />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}"
    >
</head>
<body>
<header class="container" style="padding-block: 0;">
    <nav>
        <ul>
            <li>
                <hgroup>
                    <a href="/" class="contrast">
                        <b>headcount</b>
                        <span hx-get="/contacts" hx-target="#contact-list"
                              hx-indicator="#loader" hx-trigger="load"
                        >
                            <span class="htmx-indicator" id="loader"
                                  alt="Loading..."
                                  aria-busy="true"
                            ></span>
                        </span>
                    </a>
                    <kbd>beta</kbd>
                </hgroup>
            </li>
        </ul>
        <ul>
            <li><a href="#" class="secondary">About</a></li>
            <!--            <li><a href="#">Link</a></li>-->
            <!--            <li><a href="#" role="button">Button</a></li>-->
        </ul>
    </nav>
</header>

<main class="container-fluid"
      style="--block-spacing-vertical: var(--block-spacing-horizontal);"
>
    <section class="container">

        <!--  hx-trigger="load|revealed|..."  -->
        <input type="search" name="q" hx-get="/search_contact"
               hx-trigger="keyup delay:500ms changed"
               hx-target="#search-results"
               placeholder="Search..."
        >
        <div id="search-results"></div>

        <div style="margin: 0; --block-spacing-vertical: var(--block-spacing-horizontal);">
            <details style="border-bottom: none;">
                <summary role="button"
                         style="display:flex; cursor: pointer; margin-inline-start:auto; width: fit-content;"
                >
                    <icon title="Add new">
                        <svg
                                xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-user-round-plus"
                        >
                            <path d="M2 21a8 8 0 0 1 13.292-6"/>
                            <circle cx="10" cy="8" r="5"/>
                            <path d="M19 16v6"/>
                            <path d="M22 19h-6"/>
                        </svg>
                    </icon>
                </summary>

                <form hx-post="/add_contact" hx-target="#contact-list">
                    <article style="padding-block-end: 1em;">
                        <header style="margin-block-end: 1em;"><b>Add new
                            headcount</b></header>
                        <fieldset class="grid">
                            <label for="name">
                                Name
                                <input type="text" id="name" name="name"
                                       required
                                >
                            </label>
                            <label for="phone">
                                Phone
                                <input type="tel" id="phone" name="phone"
                                       required
                                >
                            </label>
                        </fieldset>
                        <div class="grid">
                            <label for="email">
                                Email
                                <input type="email" id="email" name="email"
                                       required
                                >
                            </label>
                            <fieldset>
                                <legend>Status</legend>
                                <label for="status">
                                    <input type="checkbox" id="status"
                                           name="status"
                                    >
                                    Active
                                </label>
                            </fieldset>
                        </div>
                        <div role="group">
                            <button type="submit"
                                    data-tooltip="Create new contact"
                            >
                                Add Contact
                            </button>
                        </div>
                    </article>
                </form>
            </details>

            <form id="checked-contacts">
                <div id="contact-list">
                    <h2>0 results</h2>
                    <img src="static/assets/img/loader.gif"
                         id="loader"
                         alt="Loading..."
                         class="htmx-indicator"
                         aria-busy="true"
                    />
                </div>
            </form>
            <div hx-include="#checked-contacts" hx-target="#tbody"
                 role="group"
            >
                <button class="" hx-put="/activate">Activate</button>
                <button class="outline " hx-put="/deactivate">
                    Deactivate
                </button>
            </div>
        </div>
    </section>
</main>
</body>
</html>

<!--Default: -->
<!--        hx-trigger="click"-->
<!--<button hx-get="https://jsonplaceholder.typicode.com/users" hx-trigger="mouseover" hx-swap="outerHTML" >-->
<!--    Fetch Users-->
<!--</button>-->

<!--limit = requests.query.limit or 10-->
<!--  f"https://jsonplaceholder.typicode.com/users?_limit=${limit}"       hx-vals='{"limit": 3}'-->
<!--        hx-trigger="every 2s"-->

